<!DOCTYPE html>
<html>
	<head>
		<title>Handwriting recognition</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" type="text/css">
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		<style>
		html, body{
		  height: 100%;
		}
		</style>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; height: 100%;">
			<div>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
				  <a class="navbar-brand" href="{% url request.resolver_match.url_name %}">Handwriting recognition</a>
				</nav>
			</div>
			<div class="container-fluid" style="flex: 1;">
				<div class="row h-100">
					<div class="bg-dark col-lg-2 col-md-3 col-sm-4 col-xs-12">
						<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-top: 25px;">
						  <a class="nav-link {% if request.resolver_match.url_name == 'download' %}active{% endif %}" href="{% url 'download' %}">Download document</a>
						  <a class="nav-link {% if request.resolver_match.url_name == 'read' %}active{% endif %}" href="{% url 'read' %}">Read document</a>
						  <br>
						  <a class="nav-link {% if request.resolver_match.url_name == 'info' %}active{% endif %}" href="{% url 'info' %}">Show info</a>
						</div>
					</div>
					
					<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12" style="background-color: #F0F1F2;">
						  {% block content %}
						  {% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>	
		{% block js %}
		{% endblock %}
	</body>
</html>